backend:
  name: git-gateway
  branch: main

media_folder: "static/uploads"

collections:
  - name: "song"
    label: "Song"
    folder: "content/songs"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Layout", name: "layout", widget: "hidden", default: "song"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Stage Instructions", name: "instructions", widget: "markdown"}
      - {label: "Image", name: "image", widget: "image", required: false}
      - {label: "Audio", name: "audio", widget: "file", required: false}
      - {label: "Instrumental", name: "instrumental", widget: "file", required: false}
      - {label: "Video", name: "video", widget: "file", required: false}
      - {label: "Lyrics", name: "body", widget: "markdown", required: false}
      - {label: "Order", name: "order", widget: "number", required: true}
